{% extends 'base.html' %}
{% block title %}Bayiliklerimiz{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4" style="font-size: 32px;">Bayiliklerimiz</h2>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li>
                    <img src="{{ url_for('static', filename='images/wavin_pilsa_logo.png') }}" alt="Wavin Pilsa Logo" style="height:75px; margin-right:100px;">
                    
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/tds_logo.png') }}" alt="TDS Logo" style="height:100px; margin-right:100px;">
                    
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/maxiflow_logo.png') }}" alt="Maxiflow Logo" style="height:135px; margin-right:100px;">
                   
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/japar_logo.png') }}" alt="Japar Logo" style="height:142px; margin-right:100px;">
                    
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/mistillo_logo.png') }}" alt="Mistillo" style="height:91px; margin-right:100px;">
                   
            </ul>
        </div>
    </div>
</div>
{% endblock %}
